<div class="container">

    <div class="row mt-5 md-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium eius praesentium
                expedita nihil
                quod, officia nam aliquid asperiores fuga cumque voluptatibus odio sunt at voluptatum assumenda dolore
                excepturi quidem magni?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tenetur
                perspiciatis vitae! Perferendis veniam dignissimos quisquam, magnam rerum facere aspernatur eos rem
                voluptas, hic maiores voluptatibus eum, sunt ea officiis?Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Voluptatibus repellat reiciendis quam amet voluptas! Nulla enim nostrum quis nobis
                nisi atque distinctio, quidem ab deserunt, quo, voluptatibus maiores reprehenderit eius?</p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>

